@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

/* BARVY
    #ff7700 - oranzova
    #fff - bila 
    #002F70 - modra 
    #212427 barva textu

*/

html {
  scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-size: 18px;
  color: #212427;
  font-family: 'Source Sans Pro', sans-serif;
}

/* support bar */
.support-bar {
    position: relative;
    height: 150px;
    width: 75%;
    margin-left: auto;
    margin-right: 0;
  }
  
  .modry-pruh {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: calc(100% - 50px);
    background: #002F70;
    transform: skew(-20deg);
    
  }
  
  .modra-vysece {
    position: absolute;
    top: 0;
    right: 0;
    height: 150px;
    width: 90px;
    background: #002F70;
   
  }
  
  .support-bar img {
    margin-top: 2%;
    width: 150px;
    position: absolute;
    margin-left: -25%;
   
  }

  .phone, .mail {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  
  }
  
  .phone {
    left: 9vh;
  }
  
  .mail {
    left: 35vh;
  }
  
  .phone img,
  .mail img {
    width: 60px;
  }
  
  .phone p,
  .mail p {
    margin: 15px; 
    color: #fff;
    font-size: 26px;
  }

/* button----------- */

.btnkontakt {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #ff7700;
  color: #fff;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
  left: 60vh;
  top: 30%;
 }
 
 .btnkontakt:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #fff;
  color: #ff7700;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
 }
 
 .btnkontakt:hover::after {
  right: auto;
  left: 0;
  width: 100%;
  color: #ff7700;
 }
 
 .btnkontakt a {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 1;
  transition: all 0.3s ease-in-out;
 }
 
 .btnkontakt:hover a{
  color: #ff7700;
  animation: scaleUp 0.3s ease-in-out;
 }
 
 @keyframes scaleUp {
  0% {
   transform: scale(1);
  }
 
  50% {
   transform: scale(0.95);
  }
 
  100% {
   transform: scale(1);
  }
 }


  
  
 /* navbar----------- */ 
  

 .navbar {
    position: fixed;
    height: 0px;
    width: 80%;
    margin-top: 5px;
    right: 0;
    background: #002F70;
    z-index: 9999;
    transition: top 0.3s ease-in-out;
   
  }

  
  
 .modry-pruh-navbar {
   position: fixed;
    top: 175px;
    height: 80px;
    width: calc(100% - 50px);
    background: #002F70;
    transform: skew(-20deg);
 }

 .bily-pruh-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 79px;
  width: 50vh; 
  background: #ffffff; 
  z-index: -1;
}
  
 
  .navbar-odkazy {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-right: 20px;
    margin-top: 60px;
    z-index: 2;
  }
  
  .navbar-odkazy li {
    margin-left: 20px;
    list-style: none;
    z-index: 2;
  }
  
  .navbar-odkazy li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 26px;
    margin-left: 100px;   
  }

 img.logo {
  position: absolute;
   display: flex;
    margin-top: -5px;
    width: 100px;
    margin-left: -12rem;
    opacity: 0;
    cursor: pointer;
  }


  .navbar a:hover {
    color: #ff7700;
  }

  .navbar-odkazy li a.active {
    color: #ff7700;
  }


/* MAIN SECTION */

.main {
  background-image: url("image/kamionheader.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
  margin-top: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed; /* Přidáno pro efekt parallaxu */
}

.overlay {
  background-color: rgba(43, 40, 40, 0.5); /* Zde můžete upravit hodnoty pro požadovaný odstín */
  height: 100%;
  width: 100%;
}

.overlay h1 {
  font-size: 72px;
  color: #fff;
  margin-left: 3rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 130px;
}

.overlay button {
  left: 3rem;
  top: -2rem;
}

h1 {
  opacity: 0;
  transform: translateY(100%);
  animation-name: slideIn;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

button {
  opacity: 0;
  transform: translateY(100%);
  animation-name: slideIn;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;

}


/*----------- SEKCE ONAS ------ */

h2.onas {
  color: #212427;
  font-size: 48px;
  position: relative; 
  margin-left: 25%;
}

h2.onas::after {
  content: "";
  left: 0;
  width: 20rem; 
  height: 4px; 
  background-color: #212427;
  position: absolute;
  bottom: -8px; 
}


#onas {
  position: absolute;
  top: 122%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width: 1200px;
  background-color: #e5e5e7;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
  display: flex;
}

.o-nas-text {
  width: calc(50% - 50px);
  height: 100%;
  background: #e5e5e7;
  box-sizing: border-box;
  padding: 30px 50px;
}

.o-nas-obrazek {
  width: calc(50% + 50px);
  height: 100%;
  box-sizing: border-box;
  border-left: 100px solid #e5e5e7;
  border-bottom: 500px solid transparent;
  background: url(image/onaskamion1.jpg);
  background-position: -50px -100px;
}

.o-nas-obrazek::before {
  content:"";
  position: absolute;
  left: 40.1em;
  top: 50%;
  transform: translateY(-50%) rotate(20deg);
  background: #e5e5e7;
  width: 40%;
  height: 100%;
  background: url(image/onaskamion1.jpg);
  background-position: -50px -120px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

/******* SLUZBY */

h2.sluzby  {
  color: #212427;
  font-size: 48px;
  position: relative; 
  margin-left: 25%;
  margin-top: 620px;
}

h2.sluzby::after {
  content: "";
  left: 0;
  width: 20rem; 
  height: 4px; 
  background-color: #212427;
  position: absolute;
  bottom: -8px; 
}

#sluzby {
  position: absolute;
  top: 175%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width: 1200px;
  background-color: #e5e5e7;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
  display: flex;
}

.sluzby-text {
  width: calc(50% - 50px);
  height: 100%;
  background: #e5e5e7;
  box-sizing: border-box;
  padding: 30px 50px;
}

.sluzby-obrazek {
  width: calc(50% + 50px);
  height: 100%;
  box-sizing: border-box;
  border-left: 100px solid #e5e5e7;
  border-bottom: 500px solid transparent;
  background: url(image/sluzbykamion1.jpg);
  background-position: -50px -100px;
}



.sluzby-obrazek::before {
  content:"";
  position: absolute;
  left: 40.1em;
  top: 50%;
  transform: translateY(-50%) rotate(20deg);
  background: #e5e5e7;
  width: 40%;
  height: 100%;
  background: url(image/sluzbykamion1.jpg);
  background-position: -50px -50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

/* KONTAKT----------- */

#kontakt {
  position: absolute;
  top: 229%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width: 1200px;
  background-color: #e5e5e7;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
  display: flex;
}

.informace {
  width: calc(50% - 50px);
  height: 100%;
  background: #e5e5e7;
  box-sizing: border-box;
  padding: 30px 50px;
}

.mapa {
  width: calc(50% + 50px);
  height: 100%;
  box-sizing: border-box;
  border-left: 100px solid #e5e5e7;
  border-bottom: 500px solid transparent;
}

.phonekontakt {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.phonekontakt img {
  margin-right: 10px; 
}

.mailkontakt{
  display: flex;
  align-items: center;
  padding-top: 100px;
}

.mailkontakt.img {
  margin-right: 20px; 
}

.phonekontakt p, a {
  font-size: 30px;
  text-decoration: none;
}


.mailkontakt p{
 font-size: 30px;
 padding-left: 20px; 
}


footer {
  margin-top: 600px;
  bottom: 5px;
  height: 100px;
  background-color: #002F70;
  
}

footer p {
  color: #deeef3;
  display: flex;
  justify-content: center;
  z-index: 9999;
  padding-top: 50px;
}