@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

/* BARVY
    #ff7700 - oranzova
    #fff - bila 
    #002F70 - modra 
    #212427 barva textu

*/

html {
  scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-size: 18px;
  color: #212427;
  font-family: 'Source Sans Pro', sans-serif;
}


@media (min-width: 1300px) {

 



/*------------- LOGO -------- */
.logo-supportbar {
  width: 200px;
  height: 200px;
  position: absolute;
  display: flex;
  top: 20px;
  left: 5%;
  z-index: 1;
  
  
}



.trapezoid {
  
  position: absolute;
  height: 200px;
  margin-bottom: 20px;
  width: 80%;
  right: 0;
  top: 0;
 
}

.trapezoid-right { 
  border-bottom: 200px solid #002F70 ;
  border-left: 100px solid transparent;
  border-right: 0 solid transparent;
  border-top: 0 solid transparent
}

.bila-cira {
  height: 5px;
  width: 100%;
  position: absolute;
  top: 125px;
  left: 0;
  background-color: white;
  overflow: hidden;
}

.trapezoid-right .phone-supportbar {
  position: absolute;
  display: flex;
  align-items: center;
  padding-top: 40px;

}
  
.trapezoid-right .mail-supportbar {
  position: absolute;
  display: flex;
  align-items: center;
  padding-top: 35px;
}

.trapezoid-right .phone-supportbar img {
  margin-bottom: 10px;
  margin-left: 50px;
}
 
.trapezoid-right .mail-supportbar img {
  margin-left: 400px;
  margin-bottom: 12px;
}

.trapezoid-right .mail-supportbar p {
  color: #fff;
  font-size: 26px;
  margin-top: 10px;
  margin-left: 15px;
}

.trapezoid-right .phone-supportbar p {
  color: #fff;
  font-size: 26px;
  margin-top: 10px;
  margin-left: 15px;
}


/*------------ NAVBAR V SUPPORT BARU-----**/


.trapezoid-right .support-odkazy {
   position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-right: 20px;
    margin-top: 60px;
  }

  .trapezoid-right .support-odkazy li {
    margin-right: 40px;
    list-style: none;
    margin-right: 100px;
  }
  
  .trapezoid-right .support-odkazy a {
    color: white;
  }

  .trapezoid-right .support-odkazy a:hover {
    color: #ff7700;
  }

/* button----------- */

.btnkontakt {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #ff7700;
  color: #fff;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
  left: 850px;
  top: 20%;
  
 }
 
 .btnkontakt:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #fff;
  color: #ff7700;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
 
 }
 
 .btnkontakt:hover::after {
  right: auto;
  left: 0;
  width: 100%;
  color: #ff7700;
 
 }
 
 .btnkontakt a {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 1;
  transition: all 0.3s ease-in-out;
 }
 
 .btnkontakt:hover a{
  color: #ff7700;
  animation: scaleUp 0.3s ease-in-out;
 }
 
 @keyframes scaleUp {
  0% {
   transform: scale(1);
  }
 
  50% {
   transform: scale(0.95);
  }
 
  100% {
   transform: scale(1);
  }
 }


  
  
 /* navbar----------- */ 
  

 .navbar {
    position: fixed;
    height: 0px;
    width: 80%;
    margin-top: 5px;
    right: 0;
    background: #002F70;
    z-index: 9999;
    transition: top 0.3s ease-in-out;
    display: none;
    
   
  }

  
  
 .modry-pruh-navbar {
   position: fixed;
    top: 175px;
    height: 80px;
    width: 100%;
    background: #002F70;
    transform: skew(-20deg);
 }

 .bily-pruh-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 79px;
  width: 50vh; 
  background: #ffffff; 
  z-index: -1;
  opacity: 0;
}
  
 
  .navbar-odkazy {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-right: 20px;
    margin-top: 60px;
    z-index: 2;
    transform: none;
  }
  
  .navbar-odkazy li {
    margin-left: 20px;
    list-style: none;
    z-index: 2;
    transform: none;
  }
  
  .navbar-odkazy li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 26px;
    margin-left: 100px;   
   
  }

 img.logo {
  position: absolute;
   display: flex;
    margin-top: 0px;
    width: 90px;
    margin-left: -16%;
    opacity: 0;
    cursor: pointer;
    
  }


  .navbar a:hover {
    color: #ff7700;
  }

  .navbar-odkazy li a.active {
    color: #ff7700;
  }


/* MAIN SECTION */

.main {
  background-image: url("image/kamionheader.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed; /* Přidáno pro efekt parallaxu */
}

.overlay {
  background-color: rgba(43, 40, 40, 0.5); /* Zde můžete upravit hodnoty pro požadovaný odstín */
  height: 100%;
  width: 100%;
}

.overlay h1 {
  font-size: 72px;
  color: #fff;
  margin-left: 3rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 50px;
}

.overlay button {
  left: 3rem;
  top: -2rem;
}

h1 {
  opacity: 0;
  transform: translateY(100%);
  animation-name: slideIn;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

button {
  opacity: 0;
  transform: translateY(100%);
  animation-name: slideIn;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;

}

.btnkontakt1 {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #ff7700;
  color: #fff;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
  left: 850px;
  top: 20%;
  
 }
 
 .btnkontakt1:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #fff;
  color: #ff7700;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
 
 }
 
 .btnkontakt1:hover::after {
  right: auto;
  left: 0;
  width: 100%;
  color: #ff7700;
 
 }
 
 .btnkontakt1 a {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 1;
  transition: all 0.3s ease-in-out;
 }
 
 .btnkontakt1:hover a{
  color: #ff7700;
  animation: scaleUp 0.3s ease-in-out;
 }


/*----------- SEKCE ONAS ------ */

section#onas2 {
  display: none;
}

h2.onas {
  position: absolute;
  color: #212427;
  font-size: 48px;
  position: relative; 
  margin-left: 25%;
  margin-top: 70px;
}

h2.onas::after {
  content: "";
  left: 0;
  width: 20rem; 
  height: 4px; 
  background-color: #212427;
  position: absolute;
  bottom: -8px; 
}


#onas {
  position: absolute;
  margin-top: 250px;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width: 1200px;
  background-color: #e5e5e7;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
  display: flex;
}

.o-nas-text {
  width: calc(50% - 50px);
  height: 100%;
  background: #e5e5e7;
  box-sizing: border-box;
  padding: 30px 50px;
}

.o-nas-obrazek {
  width: calc(50% + 50px);
  height: 100%;
  box-sizing: border-box;
  /* border-left: 100px solid #e5e5e7; */
  border-bottom: 500px solid transparent;
  background: url(image/onaskamion1.jpg);
  background-position: 0px -180px;
}

/* .o-nas-obrazek::before {
  content:"";
  position: absolute;
  left: 40.1em;
  top: 50%;
  transform: translateY(-50%) rotate(20deg);
  background: #e5e5e7;
  width: 40%;
  height: 100%;
  background: url(image/onaskamion1.jpg);
  background-position: -50px -120px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
} */

/******* SLUZBY */

h2.sluzby  {
  color: #212427;
  font-size: 48px;
  position: relative; 
  margin-left: 25%;
  margin-top: 620px;
}

h2.sluzby::after {
  content: "";
  left: 0;
  width: 20rem; 
  height: 4px; 
  background-color: #212427;
  position: absolute;
  bottom: -8px; 
}

#sluzby {
  position: absolute;
  margin-top: 250px;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width: 1200px;
  background-color: #e5e5e7;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
  display: flex;
}

.sluzby-text {
  width: calc(50% - 50px);
  height: 100%;
  background: #e5e5e7;
  box-sizing: border-box;
  padding: 30px 50px;
}

.sluzby-obrazek {
  width: calc(50% + 50px);
  height: 100%;
  box-sizing: border-box;
  /* border-left: 100px solid #e5e5e7; */
  border-bottom: 500px solid transparent;
  background: url(image/sluzbykamion1.jpg);
  background-position: -10px -100px;
}



/* .sluzby-obrazek::before {
  content:"";
  position: absolute;
  left: 40.1em;
  top: 50%;
  transform: translateY(-50%) rotate(20deg);
  background: #e5e5e7;
  width: 40%;
  height: 100%;
  background: url(image/sluzbykamion1.jpg);
  background-position: -50px -50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
} */

/* KONTAKT----------- */

#kontakt {
  position: absolute;
  margin-top: 250px;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width: 1200px;
  background-color: #e5e5e7;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
  display: flex;
}

.informace {
  width: calc(50% - 50px);
  height: 100%;
  background: #e5e5e7;
  box-sizing: border-box;
  padding: 30px 50px;
}

.mapa {
  width: calc(50% + 50px);
  height: 100%;
  box-sizing: border-box;
  border-left: 100px solid #e5e5e7;
  border-bottom: 500px solid transparent;
}

.phonekontakt {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.phonekontakt img {
  margin-right: 10px; 
}

.mailkontakt{
  display: flex;
  align-items: center;
  padding-top: 100px;
}

.mailkontakt.img {
  margin-right: 20px; 
}

.phonekontakt p, a {
  font-size: 30px;
  text-decoration: none;
}


.mailkontakt p{
 font-size: 30px;
 padding-left: 20px; 
}


footer {
  margin-top: 600px;
  bottom: 5px;
  height: 100px;
  background-color: #002F70;
  
}

footer p {
  color: #deeef3;
  display: flex;
  justify-content: center;
  z-index: 9999;
  padding-top: 50px;
}

section.top-nav {
  display: none;
}


}

/*** MEDIA QUERY --------------- */
@media (min-width: 390px) and (max-width: 1299px) {
  
.btnkontakt{
  display: none;
}

.logo-supportbar {
  display: none;
}

img.logo {
  display: none;
}

.trapezoid-right img {
  display: none;
}

.trapezoid-right p {
    display: none;
  } 

ul.navbar-odkazy {
  display: none;
}

.support-odkazy {
  display: none;
}



/* ----- NAVBAR --------*/





 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 

 .top-nav {
  position: fixed;
  display: flex;
  flex-direction: row; 
   align-items: center;
  justify-content: space-between;
  background-color: #13a1cd;
  background: linear-gradient(to left, #0766c0, #18c7b5);
  color: #FFF;
  height: 50px;
  padding: 1em; 
  width: 100%;
  z-index: 999;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  
}

.menu-button-container {
  
  display: flex;
  margin-right: 2%;
  height: 100%;
  width: 60px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  z-index: 999;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
  
}

.menu-button::after {
  content: '';
  margin-top: 8px;
  
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(11, 149, 124, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}


  .menu-button-container {
    display: flex;
    
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
   
    
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #326bd4;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
   
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #013f7a;
    
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .menu li a {
    color: white;
    text-decoration: none;
    
  }

  .menu li a:hover {
    color: #ff7700;
  }

  .top-nav img {
    width: 40px;
    cursor: pointer;
  } 



  .main { 
    background-image: url("image/kamionheader.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed; 
  } 
  
   .overlay {
    background-color: rgba(43, 40, 40, 0.5); 
    height: 70vh;
    width: 100%;
    display: flex;
    
    
  } 
   
  .overlay h1 {
    font-size: 52px;
    color: #fff;
    display: flex;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 90px;
    
  } 
    
  
  .overlay h1 {
    opacity: 0;
    transform: translateY(100%);
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    
  }

 

  
   @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  } 

  button {
    opacity: 0;
    transform: translateY(100%);
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  
  }
  
  .btnkontakt1 {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #ff7700;
    color: #fff;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    margin-left: 40px;
    top: 40%;
    opacity: 1;
   
   }
   
   .btnkontakt1:hover {
    background: white;
    transition: all 1s ease-in-out;
   }
   
   
   .btnkontakt1 a {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 13px 20px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 1;
    transition: all 0.3s ease-in-out;
   }
   
   .btnkontakt1:hover a{
    color: #ff7700;
    transition: all 1s ease-in-out;
   }

/*----------- SEKCE ONAS ------ */

h2#onas1.onas {
  justify-content: center;
  display: flex;
  color: #212427;
  font-size: 48px;
  margin-top: 70px;
 
}

h2#onas1.onas::after {
  content: "";
  display: block;
  width: 150px;
  height: 4px;
  background-color: #212427;
  margin-top: 10px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}


#onas {
  position: relative;
  margin-top: 290px;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width: 80%;
  background-color: #e5e5e7;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.o-nas-text h3 {
 font-size: 36px;
 text-align: center;
 margin-bottom: 60px;
}

.o-nas-text p {
  padding: 30px 50px;
  display: flex;
  height: 80%;
}
.o-nas-obrazek {
  display: none;
}


/*-------- sluzby------------ */

h2.sluzby  {
  justify-content: center;
  display: flex;
  color: #212427;
  font-size: 48px;
  margin-top: -120px;
}

h2.sluzby::after {
  content: "";
  display: block;
  width: 150px;
  height: 4px;
  background-color: #212427;
  margin-top: 10px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}


#sluzby {
  position: relative;
  margin-top: 290px;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width: 80%;
  background-color: #e5e5e7;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sluzby-text h3 {
 font-size: 36px;
 text-align: center;
 margin-bottom: 60px;
}

.sluzby-text p {
  padding: 30px 50px;
  display: flex;
  height: 80%;
}

.sluzby-obrazek {
  display: none; 
}


/*** -------kontakt------- */

#kontakt {
  position: relative;
  margin-top: 290px;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width: 80%;
  background-color: #e5e5e7;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.informace {
  width: 100%;
  height: 100%;
  background: #e5e5e7;
  box-sizing: border-box;
  padding: 30px 50px;
}

.mapa {
  position: absolute;
  margin-top: 1290px;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width: 100%;

}

.phonekontakt {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.phonekontakt img {
  margin-right: 10px; 
}

.mailkontakt{
  display: flex;
  align-items: center;
  padding-top: 100px;
}

.mailkontakt.img {
  margin-right: 20px; 
}

.phonekontakt p,
a {
  padding-left: 10px; 
  font-size: 20px;
  text-decoration: none;
}




footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  bottom: 5px;
  height: 100px;
  background-color: #002F70;
  
}

footer p {
  color: #deeef3;
  display: flex;
  justify-content: center;
  z-index: 9999;
  padding-top: 50px;
  align-items: center;
  margin-left: 10px;
}




}



/* MEDIA QUERY */

@media (max-width: 390px) {




.btnkontakt{
  display: none;
}

.logo-supportbar {
  display: none;
}

img.logo {
  display: none;
}

.trapezoid-right img {
  display: none;
}

.trapezoid-right p {
    display: none;
  } 

ul.navbar-odkazy {
  display: none;
}

.support-odkazy {
  display: none;
}



/* ----- NAVBAR --------*/





 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 

 .top-nav {
  position: fixed;
  display: flex;
  flex-direction: row; 
   align-items: center;
  justify-content: space-between;
  background-color: #13a1cd;
  background: linear-gradient(to left, #0766c0, #18c7b5);
  color: #FFF;
  height: 50px;
  padding: 1em; 
  width: 100%;
  z-index: 999;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  
}

.menu-button-container {
  
  display: flex;
  margin-right: 2%;
  height: 100%;
  width: 60px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  z-index: 999;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
  
}

.menu-button::after {
  content: '';
  margin-top: 8px;
  
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(11, 149, 124, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}


  .menu-button-container {
    display: flex;
    
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
   
    
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #326bd4;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
   
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #013f7a;
    
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .menu li a {
    color: white;
    text-decoration: none;
    
  }

  .menu li a:hover {
    color: #ff7700;
  }

  .top-nav img {
    width: 40px;
    cursor: pointer;
  } 



  .main { 
    background-image: url("image/kamionheader.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed; 
  } 
  
   .overlay {
    background-color: rgba(43, 40, 40, 0.5); 
    height: 70vh;
    width: 100%;
    display: flex;
    
    
  } 
   
  .overlay h1 {
    font-size: 52px;
    color: #fff;
    display: flex;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 90px;
    
  } 
    
  
  .overlay h1 {
    opacity: 0;
    transform: translateY(100%);
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    
  }

 

  
   @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  } 

  button {
    opacity: 0;
    transform: translateY(100%);
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  
  }
  
  .btnkontakt1 {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #ff7700;
    color: #fff;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    margin-left: 25px;
    top: 50%;
    opacity: 1;
   
   }
   
   .btnkontakt1:hover {
    background: white;
    transition: all 1s ease-in-out;
   }
   
   
   .btnkontakt1 a {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 13px 20px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 1;
    transition: all 0.3s ease-in-out;
   }
   
   .btnkontakt1:hover a{
    color: #ff7700;
    transition: all 1s ease-in-out;
   }

/*----------- SEKCE ONAS ------ */

h2#onas1.onas {
  justify-content: center;
  display: flex;
  color: #212427;
  font-size: 48px;
  margin-top: 70px;
 
}

h2#onas1.onas::after {
  content: "";
  display: block;
  width: 150px;
  height: 4px;
  background-color: #212427;
  margin-top: 10px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}


#onas {
  position: relative;
  margin-top: 290px;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width: 80%;
  background-color: #e5e5e7;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.o-nas-text h3 {
 font-size: 36px;
 text-align: center;
 margin-bottom: 60px;
}

.o-nas-text p {
  padding: 30px 50px;
  display: flex;
  height: 80%;
}
.o-nas-obrazek {
  display: none;
}


/*-------- sluzby------------ */

h2.sluzby  {
  justify-content: center;
  display: flex;
  color: #212427;
  font-size: 48px;
  margin-top: -120px;
}

h2.sluzby::after {
  content: "";
  display: block;
  width: 150px;
  height: 4px;
  background-color: #212427;
  margin-top: 10px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}


#sluzby {
  position: relative;
  margin-top: 290px;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width: 80%;
  background-color: #e5e5e7;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sluzby-text h3 {
 font-size: 36px;
 text-align: center;
 margin-bottom: 60px;
}

.sluzby-text p {
  padding: 30px 50px;
  display: flex;
  height: 80%;
}

.sluzby-obrazek {
  display: none; 
}


/*** -------kontakt------- */

#kontakt {
  position: relative;
  margin-top: 290px;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width: 80%;
  background-color: #e5e5e7;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.informace {
  width: 100%;
  height: 100%;
  background: #e5e5e7;
  box-sizing: border-box;
  padding: 30px 50px;
}

.mapa {
  position: absolute;
  margin-top: 1290px;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width: 100%;

}

.phonekontakt {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.phonekontakt img {
  margin-right: 10px; 
}

.mailkontakt{
  display: flex;
  align-items: center;
  padding-top: 100px;
}

.mailkontakt.img {
  margin-right: 20px; 
}

.phonekontakt p,
a {
 
  font-size: 17px;
  text-decoration: none;
 
}




footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  bottom: 5px;
  height: 100px;
  background-color: #002F70;
  
}

footer p {
  color: #deeef3;
  display: flex;
  justify-content: center;
  z-index: 9999;
  padding-top: 50px;
  align-items: center;
  margin-left: 10px;
}

 
}















