@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

/* BARVY
    #ff7700 - oranzova
    #fff - bila 
    #002F70 - modra 

*/


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}


/* support bar */
.support-bar {
    position: relative;
    height: 150px;
    width: 75%;
    margin-left: auto;
    margin-right: 0;
  }
  
  .modry-pruh {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: calc(100% - 50px);
    background: #002F70;
    transform: skew(-20deg);
    
  }
  
  .modra-vysece {
    position: absolute;
    top: 0;
    right: 0;
    height: 150px;
    width: 90px;
    background: #002F70;
   
  }
  
  .support-bar img {
    margin-top: 2%;
    width: 150px;
    position: absolute;
    margin-left: -25%;
   
  }

  .phone, .mail {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  
  }
  
  .phone {
    left: 9vh;
  }
  
  .mail {
    left: 35vh;
  }
  
  .phone img,
  .mail img {
    width: 60px;
  }
  
  .phone p,
  .mail p {
    margin: 15px; 
    color: #fff;
    font-size: 26px;
  }

/* button----------- */

.btnkontakt {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #ff7700;
  color: #fff;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
  left: 60vh;
  top: 30%;
 }
 
 .btnkontakt:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #fff;
  color: #ff7700;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
 }
 
 .btnkontakt:hover::after {
  right: auto;
  left: 0;
  width: 100%;
  color: #ff7700;
 }
 
 .btnkontakt a {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 1;
  transition: all 0.3s ease-in-out;
 }
 
 .btnkontakt:hover a{
  color: #ff7700;
  animation: scaleUp 0.3s ease-in-out;
 }
 
 @keyframes scaleUp {
  0% {
   transform: scale(1);
  }
 
  50% {
   transform: scale(0.95);
  }
 
  100% {
   transform: scale(1);
  }
 }


  
  
 /* navbar----------- */ 

 .navbar {
    position: relative;
    height: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: 0;
    
   
    
    
  }
  
 .modry-pruh-navbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: calc(100% - 50px);
    background: #002F70;
    transform: skew(-20deg);
 }

 .modra-vysece-navbar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 90px;
    background: #002F70;
 }
  
 
  .navbar-odkazy {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-right: 20px;
  }
  
  .navbar-odkazy li {
    margin-left: 20px;
    list-style: none;
    z-index: 2;
  }
  
  .navbar-odkazy li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 26px;
    margin-left: 100px;
  }

  .navbar a:hover {
    color: #ff7700;
  }

  .navbar a:active {
    color: #ff7700;
  }




















  footer {
    height: 20000px;
  }